<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title w-100 font-weight-bold">Votre nouveau Tag</h1>
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="container radio">
        <form>
          <label class="radio-inline">
            <input type="radio" name="optradio" checked>Tag primaire
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Tag secondaire
          </label>
        </form>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-tag"></i>
          <input type="text" data-success="right" class="form-control">
          <label for="tag">Entrez le nom de votre Tag Primaire</label>
        </div>
        <div class="dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            #Tag existants
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="#" title="Lien 1">Mécanique</a></li>
            <li><a href="#" title="Lien 2">Hydraulique</a></li>
            <li><a href="#" title="Lien 3">Tests de Brinel</a></li>
            <li><a href="#" title="Lien 4">Tests de Rockwell</a></li>
            <li><a href="#" title="Lien 1">Mécanique</a></li>
            <li><a href="#" title="Lien 2">Hydraulique</a></li>
            <li><a href="#" title="Lien 3">Tests de Brinel</a></li>
            <li><a href="#" title="Lien 4">Tests de Rockwell</a></li>
            <li><a href="#" title="Lien 1">Mécanique</a></li>
            <li><a href="#" title="Lien 2">Hydraulique</a></li>
            <li><a href="#" title="Lien 3">Tests de Brinel</a></li>
            <li><a href="#" title="Lien 4">Tests de Rockwell</a></li>
          </ul>
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-hashtag"></i>
          <input type="text" data-success="right" class="form-control">
          <label for="tag">Entrez le nom de votre Tag Secondaire</label>
        </div>
        <div class="md-form mb-4">
          <i class="fas fa-comment"></i>
          <input type="text" data-success="right" class="form-control">
          <label for="tag">Entrez la description de votre Tag</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Annuler</button>
        <button class="btn btn-default">Ajouter</button>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Créez
    votre nouveau Tag</a>
</div>
