.modal-header{
  background: #CE0035;
}

.modal-footer{
  background: #CE0035;
}
.btn{
  background: whitesmoke;
}
.radio{
  margin-top: 30px;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
